# Data Pre-Processing

In [1]:
# imports
import os
import requests
import json
import pandas as pd
import numpy as np
from pathlib import Path
from dotenv import load_dotenv

import warnings
warnings.filterwarnings('ignore')

## Load Wine Marketing Data

In [2]:
'''
Original DataSet obtained from below link
https://www.kaggle.com/imakash3011/customer-personality-analysis
'''
file_path = Path('./Data/marketing_data.csv')
wine_data = pd.read_csv(file_path, encoding='UTF-8')
wine_data.head()

,CustId,BirthYear,Education,MaritalStat,AnnualInc,NumKids,NumTeen,DateEnrol,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,0,1985,Graduation,Married,70951.0,0,0,4/5/2013,66,239,...,1,0,0,0,0,0,0,3,11,0
1,1,1961,Graduation,Single,57091.0,0,0,15-06-2014,0,464,...,5,0,0,0,0,1,0,3,11,1
2,9,1975,Master,Single,46098.0,1,1,18-08-2012,86,57,...,8,0,0,0,0,0,0,3,11,0
3,13,1947,PhD,Widow,25358.0,0,1,22-07-2013,57,19,...,6,0,0,0,0,0,0,3,11,0
4,17,1971,PhD,Married,60491.0,0,1,6/9/2013,81,637,...,5,0,0,0,0,0,0,3,11,0

In [3]:
# Checking if the data has been correcly fully loaded (Rows x Columns)
wine_data.shape

(2240, 29)

In [4]:
# Checking all the columns in the data that we required for analysis are prsent
wine_data.columns

Index(['CustId', 'BirthYear', 'Education', 'MaritalStat', 'AnnualInc',
       'NumKids', 'NumTeen', 'DateEnrol', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response'],
      dtype='object')

In [5]:
# Drop all the unwanted columns
wine_data.drop(columns=['Z_CostContact', 'Z_Revenue', 'Response', 'MntGoldProds'], inplace=True)
wine_data.head()

,CustId,BirthYear,Education,MaritalStat,AnnualInc,NumKids,NumTeen,DateEnrol,Recency,MntWines,...,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain
0,0,1985,Graduation,Married,70951.0,0,0,4/5/2013,66,239,...,3,4,9,1,0,0,0,0,0,0
1,1,1961,Graduation,Single,57091.0,0,0,15-06-2014,0,464,...,7,3,7,5,0,0,0,0,1,0
2,9,1975,Master,Single,46098.0,1,1,18-08-2012,86,57,...,3,2,2,8,0,0,0,0,0,0
3,13,1947,PhD,Widow,25358.0,0,1,22-07-2013,57,19,...,1,0,3,6,0,0,0,0,0,0
4,17,1971,PhD,Married,60491.0,0,1,6/9/2013,81,637,...,6,11,7,5,0,0,0,0,0,0

In [6]:
# Checking data types
wine_data.dtypes

CustId                   int64
BirthYear                int64
Education               object
MaritalStat             object
AnnualInc              float64
NumKids                  int64
NumTeen                  int64
DateEnrol               object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
dtype: object

In [7]:
# Checking if there any negative values for all the numeric columns which are required for analysis
print('Number of Negative values in AnnualInc column: ', len(wine_data.loc[wine_data['AnnualInc'] < 0]))
print('Number of Negative values in BirthYear column: ', len(wine_data.loc[wine_data['BirthYear'] < 0]))
print('Number of Negative values in NumKids column: ', len(wine_data.loc[wine_data['NumKids'] < 0]))
print('Number of Negative values in NumTeen column: ', len(wine_data.loc[wine_data['NumTeen'] < 0]))
print('Number of Negative values in Recency column: ', len(wine_data.loc[wine_data['Recency'] < 0]))
print('Number of Negative values in MntWines column: ', len(wine_data.loc[wine_data['MntWines'] < 0]))
print('Number of Negative values in MntFruits column: ', len(wine_data.loc[wine_data['MntFruits'] < 0]))
print('Number of Negative values in MntMeatProducts column: ', len(wine_data.loc[wine_data['MntMeatProducts'] < 0]))
print('Number of Negative values in MntFishProducts column: ', len(wine_data.loc[wine_data['MntFishProducts'] < 0]))
print('Number of Negative values in MntSweetProducts column: ', len(wine_data.loc[wine_data['MntSweetProducts'] < 0]))
print('Number of Negative values in NumDealsPurchases column: ', len(wine_data.loc[wine_data['NumDealsPurchases'] < 0]))
print('Number of Negative values in NumWebPurchases column: ', len(wine_data.loc[wine_data['NumWebPurchases'] < 0]))
print('Number of Negative values in NumCatalogPurchases column: ', len(wine_data.loc[wine_data['NumCatalogPurchases'] < 0]))
print('Number of Negative values in NumStorePurchases column: ', len(wine_data.loc[wine_data['NumStorePurchases'] < 0]))
print('Number of Negative values in NumWebVisitsMonth column: ', len(wine_data.loc[wine_data['NumWebVisitsMonth'] < 0]))

Number of Negative values in AnnualInc column:  0
Number of Negative values in BirthYear column:  0
Number of Negative values in NumKids column:  0
Number of Negative values in NumTeen column:  0
Number of Negative values in Recency column:  0
Number of Negative values in MntWines column:  0
Number of Negative values in MntFruits column:  0
Number of Negative values in MntMeatProducts column:  0
Number of Negative values in MntFishProducts column:  0
Number of Negative values in MntSweetProducts column:  0
Number of Negative values in NumDealsPurchases column:  0
Number of Negative values in NumWebPurchases column:  0
Number of Negative values in NumCatalogPurchases column:  0
Number of Negative values in NumStorePurchases column:  0
Number of Negative values in NumWebVisitsMonth column:  0

In [8]:
# Formatting 'DateEnrol' column with correct and consistent date format
wine_data['DateEnrol'] = pd.to_datetime(wine_data['DateEnrol'], infer_datetime_format=True)
wine_data['DateEnrol'].head()

0   2013-04-05
1   2014-06-15
2   2012-08-18
3   2013-07-22
4   2013-06-09
Name: DateEnrol, dtype: datetime64[ns]

In [9]:
# Create a new Age column based on BirthYear
wine_data['Age'] = pd.Timestamp('now').year - wine_data['BirthYear']
wine_data.drop(columns='BirthYear', inplace=True)
wine_data.head()

,CustId,Education,MaritalStat,AnnualInc,NumKids,NumTeen,DateEnrol,Recency,MntWines,MntFruits,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Age
0,0,Graduation,Married,70951.0,0,0,2013-04-05,66,239,10,...,4,9,1,0,0,0,0,0,0,36
1,1,Graduation,Single,57091.0,0,0,2014-06-15,0,464,5,...,3,7,5,0,0,0,0,1,0,60
2,9,Master,Single,46098.0,1,1,2012-08-18,86,57,0,...,2,2,8,0,0,0,0,0,0,46
3,13,PhD,Widow,25358.0,0,1,2013-07-22,57,19,0,...,0,3,6,0,0,0,0,0,0,74
4,17,PhD,Married,60491.0,0,1,2013-06-09,81,637,47,...,11,7,5,0,0,0,0,0,0,50

In [10]:
# Create an Age Group column for market segment analysis
# There are 4 records greater than 80 which will be ignored
labels = ['20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80+']
wine_data['Age Group'] = pd.cut(wine_data['Age'], [20,30,40,50,60,70,80,130], labels=labels)
wine_data['Age Group'].head()

0    30-40
1    50-60
2    40-50
3    70-80
4    40-50
Name: Age Group, dtype: category
Categories (7, object): ['20-30' < '30-40' < '40-50' < '50-60' < '60-70' < '70-80' < '80+']

In [11]:
# Create an Income Bracket column for market segment analysis
labels = ['Below 20K', '20K-30K', '30K-40K', '40K-50K','50K-60K', '60K-70K', '70K-80K', '80K-90K', '90K-100K', '100K-150K', '150K-200K', 'Over 200K']
wine_data['Income Bracket'] = pd.cut(wine_data['AnnualInc'], [-np.inf,20000,30000,40000,50000,60000,70000,80000,90000,100000,150000,200000,np.inf], labels=labels)
wine_data['Income Bracket'].head()

0    70K-80K
1    50K-60K
2    40K-50K
3    20K-30K
4    60K-70K
Name: Income Bracket, dtype: category
Categories (12, object): ['Below 20K' < '20K-30K' < '30K-40K' < '40K-50K' ... '90K-100K' < '100K-150K' < '150K-200K' < 'Over 200K']

In [12]:
# Dropping if there is any duplicate rows
wine_data.drop_duplicates(inplace=True)

In [13]:
# Checking required Category columns value counts
wine_data['Education'].value_counts()

Graduation    1127
PhD            486
Master         370
2n Cycle       203
Basic           54
Name: Education, dtype: int64

In [14]:
# Rename 2n Cycle to 'Undergraduate'
wine_data.loc[wine_data['Education'] == '2n Cycle', 'Education'] = 'Undergraduate'
wine_data['Education'].value_counts()

Graduation       1127
PhD               486
Master            370
Undergraduate     203
Basic              54
Name: Education, dtype: int64

In [15]:
wine_data['MaritalStat'].value_counts()

Married     864
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
YOLO          2
Absurd        2
Name: MaritalStat, dtype: int64

In [16]:
# 'Absurd' and 'YOLO' does not have a meaning full contibution to the analysis
# So, replacing them with the most frequent value in MaritalStat column which is 'Married'
# Removing those 4 rows NOT an option since there's limited number of data 
# and other attributes on those rows can impact on the analysis
wine_data.loc[wine_data['MaritalStat']=='Absurd', 'MaritalStat'] = 'Married'
wine_data.loc[wine_data['MaritalStat']=='YOLO', 'MaritalStat'] = 'Married'
wine_data['MaritalStat'].value_counts()

Married     868
Together    580
Single      480
Divorced    232
Widow        77
Alone         3
Name: MaritalStat, dtype: int64

In [17]:
# Save the pre-processed wine dataset
wine_data.to_csv(Path('./Data/wine_data.csv'), encoding='UTF-8', index=False)

- - -

## Load Census Data

In [18]:
# Read the Census API Key
load_dotenv()
CENSUS_API_KEY = os.getenv("census")

API Parameter Definition
'''
Marital Status CODE: S0102_C01_028E (Estimate!!Total!!MARITAL STATUS!!Now MARRIED, except separated)
Income CODE: S0102_C02_076E (Estimate!!INDIVIDUALS' Mean income (dollars))
Age CODE: S0601_C03_006E (Estimate!!Total population!!AGE!!Roughly 40 to 60 years)
Education 
    CODE: S0601_C03_035E (Estimate!!Some college or associate's degree)
    CODE: S0601_C03_036E (Estimate!!Bachelor's degree)
    CODE: S0601_C03_037E (Estimate!!Graduate or professional degree)
'''

In [19]:
# Census URL
census_url = 'https://api.census.gov/data/2019/acs/acs1/subject?get=NAME,S0102_C01_028E,S0102_C02_076E,S0601_C03_006E,S0601_C03_035E,S0601_C03_036E,S0601_C03_037E&for=county:*&key=' + CENSUS_API_KEY

In [20]:
# Fetiching Required Census data from an API (Limit 500 API Calls per Day)
res_data = requests.get(census_url).json()

In [21]:
# Convert the Census Data into a DataFrame
census_data = pd.DataFrame(res_data[1:], columns=res_data[0])
census_data.head()

,NAME,S0102_C01_028E,S0102_C02_076E,S0601_C03_006E,S0601_C03_035E,S0601_C03_036E,S0601_C03_037E,state,county
0,"Jefferson County, Kentucky",44.1,64495,13.2,30.3,25.5,18.6,21,111
1,"Hennepin County, Minnesota",47.1,85434,15.0,24.8,35.9,23.8,27,053
2,"Olmsted County, Minnesota",None,None,12.8,23.8,29.0,30.7,27,109
3,"Scott County, Minnesota",None,None,22.3,28.8,39.3,15.8,27,139
4,"Faulkner County, Arkansas",None,None,14.8,35.1,21.0,9.5,05,045

In [22]:
# Split the NAME column into County and State
census_data[['County', 'State']] = census_data['NAME'].str.split(',', 1, expand=True)
census_data['County'] = census_data['County'].str.split(expand=True)

# Drop the NAME Column
census_data.drop(columns='NAME', inplace=True)
census_data.head()

ValueError: Columns must be same length as key

In [ ]:
# Drop state code and county code columns
census_data.drop(columns=['state','county'], inplace=True)

In [ ]:
# Education Count Column = All the College Degree +  Bachelor Degree + professional Degree Population
census_data['Education_Pop'] = census_data['S0601_C03_035E'].astype(np.float) + census_data['S0601_C03_036E'].astype(np.float) + census_data['S0601_C03_037E'].astype(np.float)
census_data.drop(columns=['S0601_C03_035E','S0601_C03_036E','S0601_C03_037E'], inplace=True)
census_data.head()

In [ ]:
# Defining each column with Meaningfull data definition
census_data.rename(columns={
    'S0102_C01_028E': 'Marital_Pop',
    'S0102_C02_076E': 'Income',
    'S0601_C03_006E': 'Age_Pop'
}, inplace=True)
census_data.head()

In [ ]:
# dropping all the None values
census_data.dropna(inplace=True)

In [ ]:
# Remove all the duplicates
census_data.drop_duplicates(inplace=True)

In [ ]:
# inspecting Data Types
census_data.dtypes

In [ ]:
# Converting String Numeric columns to Numeric
census_data['Marital_Pop'] = census_data['Marital_Pop'].astype(np.float)
census_data['Income'] = census_data['Income'].astype(np.int)
census_data['Age_Pop'] = census_data['Age_Pop'].astype(np.float)
census_data['Education_Pop'] = census_data['Education_Pop'].astype(np.float)

In [ ]:
# Checking a sample of census_data
census_data.head()

In [ ]:
# Save pre-processed Census dataset
census_data.to_csv(Path('./Data/census_data.csv'), encoding='UTF-8', index=False)